.elementor-630
  .elementor-element.elementor-element-d76ab5a
  > .elementor-container {
  min-height: 650px;
}
.elementor-630
  .elementor-element.elementor-element-d76ab5a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-630
  .elementor-element.elementor-element-d76ab5a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
  background-image: url("https://public-110924.s3.ap-southeast-1.amazonaws.com/images/pyrotechnics-003.jpg");
  /* background-position: 300px 0px; */
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-630
  .elementor-element.elementor-element-d76ab5a
  > .elementor-background-overlay {
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-630 .elementor-element.elementor-element-d76ab5a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-630 .elementor-element.elementor-element-e68ce67 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 2px;
}
.elementor-630
  .elementor-element.elementor-element-e68ce67
  .elementor-divider-separator {
  width: 5%;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-630 .elementor-element.elementor-element-e68ce67 .elementor-divider {
  text-align: left;
  padding-block-start: 5px;
  padding-block-end: 5px;
}
.elementor-630
  .elementor-element.elementor-element-e68ce67
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-630 .elementor-element.elementor-element-4519d03 .pp-second-text {
  display: inline;
  color: #ff0000;
  font-family: "BioRhyme", Sans-serif;
  font-size: 100px;
  font-weight: 900;
}
.elementor-630 .elementor-element.elementor-element-4519d03 {
  text-align: left;
}
.elementor-630 .elementor-element.elementor-element-4519d03 .pp-first-text {
  color: #666666;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  padding: 0px 0px 0px 0px;
}
.elementor-630
  .elementor-element.elementor-element-4519d03.pp-dual-heading-inline
  .pp-second-text {
  margin-left: 0px;
}
.elementor-630
  .elementor-element.elementor-element-4519d03.pp-dual-heading-block
  .pp-second-text {
  margin-top: 0px;
}
.elementor-630
  .elementor-element.elementor-element-4519d03
  > .elementor-widget-container {
  margin: -15px 0px 0px 0px;
}
.elementor-630 .elementor-element.elementor-element-7aaecaa {
  text-align: left;
}
.elementor-630
  .elementor-element.elementor-element-7aaecaa
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.elementor-630
  .elementor-element.elementor-element-7aaecaa
  > .elementor-widget-container {
  margin: -15px 0px 0px 0px;
}
.elementor-630
  .elementor-element.elementor-element-f33aecb
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-630
  .elementor-element.elementor-element-f33aecb
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 15px;
}
.elementor-630 .elementor-element.elementor-element-f33aecb .elementor-button {
  font-family: "Jost", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  fill: #ff0000;
  color: #ff0000;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  border-radius: 1px 1px 1px 1px;
}
.elementor-630
  .elementor-element.elementor-element-f33aecb
  > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-gallery-filters {
  text-align: center;
  font-family: "Jost", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-grid-item
  .pp-gallery-image-content {
  transform: translateZ(20px);
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-image-gallery
  .pp-grid-item-wrap {
  padding-left: calc(50px / 2);
  padding-right: calc(50px / 2);
}
.elementor-630 .elementor-element.elementor-element-38bff30 .pp-image-gallery {
  margin-left: calc(-50px / 2);
  margin-right: calc(-50px / 2);
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-image-gallery
  .pp-grid-item {
  margin-bottom: 50px;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-image-gallery-thumbnail-wrap:hover
  .pp-image-gallery-thumbnail
  img {
  opacity: 1;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-gallery-image-caption {
  font-family: "Jost", Sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-gallery-image-content {
  justify-content: center;
  align-items: stretch;
}
.elementor-630 .elementor-element.elementor-element-38bff30 .pp-image-overlay {
  mix-blend-mode: darken;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-grid-item:hover
  .pp-image-overlay {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-gallery-filters
  .pp-gallery-filter {
  color: #ffffff;
  background-color: #ff0000;
  padding: 10px 15px 10px 15px;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-gallery-filters
  .pp-gallery-filter,
.elementor-630
  .elementor-element.elementor-element-38bff30
  .pp-filters-dropdown {
  margin-bottom: 20px;
}
.elementor-630
  .elementor-element.elementor-element-38bff30
  > .elementor-widget-container {
  margin: 50px 0px 0px 0px;
}
.elementor-630
  .elementor-element.elementor-element-732e1fa:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-630
  .elementor-element.elementor-element-732e1fa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-630 .elementor-element.elementor-element-732e1fa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-630
  .elementor-element.elementor-element-732e1fa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-630 .elementor-element.elementor-element-1c9e580 {
  padding: 25px 25px 0px 25px;
}
.elementor-630
  .elementor-element.elementor-element-7ecf7bf
  .elementskit-section-title-wraper
  .elementskit-section-title {
  margin: 0px 0px 25px 0px;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.elementor-630
  .elementor-element.elementor-element-7ecf7bf
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #ff0000;
}
.elementor-630
  .elementor-element.elementor-element-7ecf7bf
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-630
  .elementor-element.elementor-element-7ecf7bf
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child,
.elementor-630
  .elementor-element.elementor-element-7ecf7bf
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  text-transform: uppercase;
}
.elementor-630
  .elementor-element.elementor-element-53a678f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-630
  .elementor-element.elementor-element-53a678f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-630 .elementor-element.elementor-element-53a678f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-630
  .elementor-element.elementor-element-53a678f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-630 .elementor-element.elementor-element-ed3cd15 img {
  width: 30%;
}
.elementor-630 .elementor-element.elementor-element-f182bcb {
  text-align: center;
}
.elementor-630
  .elementor-element.elementor-element-f182bcb
  .elementor-heading-title {
  color: #000000;
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.elementor-630 .elementor-element.elementor-element-e3ac24a img {
  width: 30%;
}
.elementor-630 .elementor-element.elementor-element-905b506 {
  text-align: center;
}
.elementor-630
  .elementor-element.elementor-element-905b506
  .elementor-heading-title {
  color: #000000;
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.elementor-630 .elementor-element.elementor-element-1337521 img {
  width: 30%;
}
.elementor-630 .elementor-element.elementor-element-1f16630 {
  text-align: center;
}
.elementor-630
  .elementor-element.elementor-element-1f16630
  .elementor-heading-title {
  color: #000000;
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.elementor-630
  .elementor-element.elementor-element-a7b0a28:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-630
  .elementor-element.elementor-element-a7b0a28
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-630 .elementor-element.elementor-element-a7b0a28 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 100px;
}
.elementor-630
  .elementor-element.elementor-element-a7b0a28
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-630
  .elementor-element.elementor-element-7d6683d
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-630
  .elementor-element.elementor-element-7d6683d
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 15px;
}
.elementor-630 .elementor-element.elementor-element-7d6683d .elementor-button {
  font-family: "Jost", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  fill: #ff0000;
  color: #ff0000;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  border-radius: 1px 1px 1px 1px;
}
.elementor-630
  .elementor-element.elementor-element-7d6683d
  > .elementor-widget-container {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
}
@media (min-width: 1025px) {
  .elementor-630
    .elementor-element.elementor-element-d76ab5a:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-630
    .elementor-element.elementor-element-d76ab5a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px) {
  .elementor-630
    .elementor-element.elementor-element-d76ab5a:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-630
    .elementor-element.elementor-element-d76ab5a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-630
    .elementor-element.elementor-element-d76ab5a
    > .elementor-container {
    min-height: 700px;
  }
  .elementor-630
    .elementor-element.elementor-element-d76ab5a:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-630
    .elementor-element.elementor-element-d76ab5a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: -80px 0px;
  }
  .elementor-630
    .elementor-element.elementor-element-13c5302
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-630
    .elementor-element.elementor-element-e68ce67
    .elementor-divider-separator {
    width: 13%;
  }
  .elementor-630 .elementor-element.elementor-element-4519d03 {
    text-align: left;
  }
  .elementor-630 .elementor-element.elementor-element-4519d03 .pp-first-text {
    font-size: 55px;
  }
  .elementor-630 .elementor-element.elementor-element-4519d03 .pp-second-text {
    font-size: 40px;
  }
  .elementor-630 .elementor-element.elementor-element-7aaecaa {
    text-align: left;
  }
  .elementor-630
    .elementor-element.elementor-element-7aaecaa
    .elementor-heading-title {
    font-size: 15px;
  }
  .elementor-630
    .elementor-element.elementor-element-38bff30
    .pp-gallery-filters {
    text-align: left;
    font-size: 16px;
  }
  .elementor-630
    .elementor-element.elementor-element-38bff30
    .pp-image-gallery
    .pp-grid-item-wrap {
    padding-left: calc(50px / 2);
    padding-right: calc(50px / 2);
  }
  .elementor-630
    .elementor-element.elementor-element-38bff30
    .pp-image-gallery {
    margin-left: calc(-50px / 2);
    margin-right: calc(-50px / 2);
  }
  .elementor-630
    .elementor-element.elementor-element-38bff30
    .pp-image-gallery
    .pp-grid-item {
    margin-bottom: 50px;
  }
  .elementor-630
    .elementor-element.elementor-element-38bff30
    .pp-gallery-filters
    .pp-gallery-filter,
  .elementor-630
    .elementor-element.elementor-element-38bff30
    .pp-filters-dropdown {
    margin-bottom: 15px;
  }
  .elementor-630 .elementor-element.elementor-element-732e1fa {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-630 .elementor-element.elementor-element-1c9e580 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-630 .elementor-element.elementor-element-53a678f {
    margin-top: -25px;
    margin-bottom: 0px;
  }
  .elementor-630 .elementor-element.elementor-element-44d92c2 {
    width: 33%;
  }
  .elementor-630 .elementor-element.elementor-element-ed3cd15 img {
    width: 55%;
  }
  .elementor-630
    .elementor-element.elementor-element-f182bcb
    .elementor-heading-title {
    font-size: 15px;
  }
  .elementor-630 .elementor-element.elementor-element-41c5c6b {
    width: 33%;
  }
  .elementor-630 .elementor-element.elementor-element-e3ac24a img {
    width: 55%;
  }
  .elementor-630
    .elementor-element.elementor-element-905b506
    .elementor-heading-title {
    font-size: 15px;
  }
  .elementor-630 .elementor-element.elementor-element-8e7e45f {
    width: 33%;
  }
  .elementor-630 .elementor-element.elementor-element-1337521 img {
    width: 55%;
  }
  .elementor-630
    .elementor-element.elementor-element-1f16630
    .elementor-heading-title {
    font-size: 15px;
  }
}
