.elementor-102
  .elementor-element.elementor-element-2c32f40
  > .elementor-container {
  max-width: 1400px;
  min-height: 750px;
}
.elementor-102
  .elementor-element.elementor-element-2c32f40:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-102
  .elementor-element.elementor-element-2c32f40
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-2c32f40
  > .elementor-background-overlay {
  background-image: url("https://product-110924.s3.ap-southeast-1.amazonaws.com/images/pyrotechnics-001.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-102 .elementor-element.elementor-element-2c32f40 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-713fbf8f
  > .elementor-element-populated {
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
  padding: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-293ccf59
  .elementor-heading-title {
  color: #fac602;
  font-family: "Jost", Sans-serif;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-293ccf59
  > .elementor-widget-container {
  margin: 0px 0px -3px 0px;
  padding: 0px 0px 0px 0px;
  /* background-color: #0000007d; */
}
.elementor-102
  .elementor-element.elementor-element-566a1298
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 70px;
  font-weight: 900;
}
.elementor-102
  .elementor-element.elementor-element-566a1298
  > .elementor-widget-container {
  margin: 0px 0px 3px 0px;
  /* background-color: #0000007d; */
}
.elementor-102 .elementor-element.elementor-element-12fb2465 .elementor-button {
  fill: #fac602;
  color: #fac602;
  background-color: #00000000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  border-radius: 1px 1px 1px 1px;
  padding: 20px 27px 20px 28px;
}
.elementor-102
  .elementor-element.elementor-element-12fb2465
  .elementor-button:hover,
.elementor-102
  .elementor-element.elementor-element-12fb2465
  .elementor-button:focus {
  color: #ffffff;
  border-color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-12fb2465
  .elementor-button:hover
  svg,
.elementor-102
  .elementor-element.elementor-element-12fb2465
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-12fb2465
  > .elementor-widget-container {
  margin: 0px 15px 0px 1px;
}
.elementor-102 .elementor-element.elementor-element-7267e3dd {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 1px;
}
.elementor-102 .elementor-element.elementor-element-7b984d71 {
  --divider-border-style: solid;
  --divider-color: #fac602;
  --divider-border-width: 2px;
}
.elementor-102
  .elementor-element.elementor-element-7b984d71
  .elementor-divider-separator {
  width: 75%;
}
.elementor-102
  .elementor-element.elementor-element-7b984d71
  .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-102
  .elementor-element.elementor-element-7b984d71
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-6cb22a3
  > .elementor-element-populated {
  padding: 10px 10px 10px 7px;
}
.elementor-102 .elementor-element.elementor-element-142bd6e {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 20px;
  --grid-column-gap: 4px;
  --grid-row-gap: 0px;
}
.elementor-102
  .elementor-element.elementor-element-142bd6e
  .elementor-widget-container {
  text-align: left;
}
.elementor-102
  .elementor-element.elementor-element-142bd6e
  .elementor-social-icon {
  background-color: #99999900;
  --icon-padding: 0.5em;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #02010100;
}
.elementor-102
  .elementor-element.elementor-element-142bd6e
  .elementor-social-icon
  i {
  color: #606060;
}
.elementor-102
  .elementor-element.elementor-element-142bd6e
  .elementor-social-icon
  svg {
  fill: #606060;
}
.elementor-102 .elementor-element.elementor-element-142bd6e .elementor-icon {
  border-radius: 30px 30px 30px 30px;
}
.elementor-102
  .elementor-element.elementor-element-142bd6e
  > .elementor-widget-container {
  margin: -5px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-3800c4e7
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-2fce8ec1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-102
  .elementor-element.elementor-element-2fce8ec1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
}
.elementor-102
  .elementor-element.elementor-element-2fce8ec1
  > .elementor-background-overlay {
  opacity: 0.1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-102 .elementor-element.elementor-element-2fce8ec1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-2fce8ec1
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #ffefef;
}
.elementor-102
  .elementor-element.elementor-element-2fce8ec1
  > .elementor-shape-top
  svg {
  width: calc(100% + 1.3px);
  height: 300px;
}
.elementor-102 .elementor-element.elementor-element-476f3aaf {
  margin-top: 75px;
  margin-bottom: 0px;
}
.elementor-102
  .elementor-element.elementor-element-44f9c2a9
  > .elementor-element-populated {
  margin: 0px 25px 0px 0px;
  --e-column-margin-right: 25px;
  --e-column-margin-left: 0px;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c.ekit-equal-height-enable,
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c.ekit-equal-height-enable
  .elementor-widget-container,
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c.ekit-equal-height-enable
  .ekit-wid-con,
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c.ekit-equal-height-enable
  .ekit-wid-con
  .elementskit-info-image-box {
  height: 100%;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box.hover-border-bottom
  .elementskit-box-body::before {
  height: 0px;
  background-color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-box-header
  img {
  padding: 30px 135px 0px 135px;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-box-header
  img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box.elementskit-thumb-card
  > img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box:hover
  .elementskit-box-header
  img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box.elementskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-box-body {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ffd4d4;
  /* background-color: #ffffff; */
  padding: 20px 35px 1px 35px;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .ekit-image-box-body,
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .ekit-image-box-body:before,
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .ekit-image-box-body:after {
  border-radius: 1px 1px 1px 1px;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-info-box-title {
  margin: 0px 0px 20px 0px;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-box-content
  :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-info-box-title
  a {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-info-box-title
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box:hover
  .elementskit-info-box-title {
  color: white;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  a {
  color: white;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  svg
  path {
  stroke: #fac602;
  fill: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-2e0b7a7c
  .elementskit-info-image-box
  .elementskit-box-style-content {
  margin: 0px 0px 14px 0px;
}
.elementor-102
  .elementor-element.elementor-element-62f54c7
  .elementor-counter-number-wrapper {
  color: #000000;
  font-family: "Jost", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-62f54c7
  > .elementor-widget-container {
  margin: -10px 0px 20px 0px;
}
.elementor-102
  .elementor-element.elementor-element-cc27c02
  > .elementor-element-populated,
.elementor-102
  .elementor-element.elementor-element-cc27c02
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-102
  .elementor-element.elementor-element-cc27c02
  > .elementor-background-slideshow {
  border-radius: 1px 1px 1px 1px;
}
.elementor-102
  .elementor-element.elementor-element-cc27c02
  > .elementor-element-populated {
  /* box-shadow: 0px 0px 10px 0px #ffd4d4; */
  margin: 50px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-102
  .elementor-element.elementor-element-8484083.ekit-equal-height-enable,
.elementor-102
  .elementor-element.elementor-element-8484083.ekit-equal-height-enable
  .elementor-widget-container,
.elementor-102
  .elementor-element.elementor-element-8484083.ekit-equal-height-enable
  .ekit-wid-con,
.elementor-102
  .elementor-element.elementor-element-8484083.ekit-equal-height-enable
  .ekit-wid-con
  .elementskit-info-image-box {
  height: 100%;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box.hover-border-bottom
  .elementskit-box-body::before {
  height: 0px;
  background-color: #ffd4d4;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-box-header
  img {
  padding: 30px 135px 0px 135px;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-box-header
  img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box.elementskit-thumb-card
  > img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box:hover
  .elementskit-box-header
  img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box.elementskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-box-body {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ffd4d4;
  /* background-color: #ffffff; */
  padding: 20px 35px 1px 35px;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .ekit-image-box-body,
.elementor-102
  .elementor-element.elementor-element-8484083
  .ekit-image-box-body:before,
.elementor-102
  .elementor-element.elementor-element-8484083
  .ekit-image-box-body:after {
  border-radius: 1px 1px 1px 1px;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-info-box-title {
  margin: 0px 0px 20px 0px;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-box-content
  :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-info-box-title
  a {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-info-box-title
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box:hover
  .elementskit-info-box-title {
  color: white;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  a {
  color: white;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  svg
  path {
  stroke: #fac602;
  fill: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  .elementskit-info-image-box
  .elementskit-box-style-content {
  margin: 0px 0px 14px 0px;
}
.elementor-102
  .elementor-element.elementor-element-8484083
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-e910fb4
  .elementor-counter-number-wrapper {
  color: #000000;
  font-family: "Jost", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-e910fb4
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-af8f018
  > .elementor-element-populated {
  margin: 0px 0px 0px 25px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 25px;
}
.elementor-102
  .elementor-element.elementor-element-27fc601.ekit-equal-height-enable,
.elementor-102
  .elementor-element.elementor-element-27fc601.ekit-equal-height-enable
  .elementor-widget-container,
.elementor-102
  .elementor-element.elementor-element-27fc601.ekit-equal-height-enable
  .ekit-wid-con,
.elementor-102
  .elementor-element.elementor-element-27fc601.ekit-equal-height-enable
  .ekit-wid-con
  .elementskit-info-image-box {
  height: 100%;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box.hover-border-bottom
  .elementskit-box-body::before {
  height: 0px;
  background-color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-box-header
  img {
  padding: 30px 135px 0px 135px;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-box-header
  img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box.elementskit-thumb-card
  > img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box:hover
  .elementskit-box-header
  img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box.elementskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-box-body {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ffd4d4;
  background-color: #ffffff00;
  padding: 20px 35px 1px 35px;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .ekit-image-box-body,
.elementor-102
  .elementor-element.elementor-element-27fc601
  .ekit-image-box-body:before,
.elementor-102
  .elementor-element.elementor-element-27fc601
  .ekit-image-box-body:after {
  border-radius: 1px 1px 1px 1px;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-info-box-title {
  margin: 0px 0px 20px 0px;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-box-content
  :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-info-box-title
  a {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-info-box-title
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box:hover
  .elementskit-info-box-title {
  color: white;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  a {
  color: white;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  svg
  path {
  stroke: #fac602;
  fill: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-27fc601
  .elementskit-info-image-box
  .elementskit-box-style-content {
  margin: 0px 0px 14px 0px;
}
.elementor-102
  .elementor-element.elementor-element-e7703ad
  .elementor-counter-number-wrapper {
  color: #000000;
  font-family: "Jost", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-e7703ad
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-1d213d1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-102
  .elementor-element.elementor-element-1d213d1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  /* background-image: linear-gradient(180deg, #ffffff 0%, #f7f8fb 100%); */
}
.elementor-102 .elementor-element.elementor-element-1d213d1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 28px 0px 150px 0px;
}
.elementor-102
  .elementor-element.elementor-element-1d213d1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-1d213d1
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #ffefef;
}
.elementor-102
  .elementor-element.elementor-element-1d213d1
  > .elementor-shape-bottom
  svg {
  width: calc(155% + 1.3px);
  height: 500px;
}
.elementor-102
  .elementor-element.elementor-element-14c9fc7e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-102 .elementor-element.elementor-element-30d4da07 {
  text-align: center;
  top: 0px;
  z-index: 0;
}
.elementor-102
  .elementor-element.elementor-element-30d4da07
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.5px;
  text-shadow: 0px 0px 1px #585367;
  mix-blend-mode: multiply;
}
body:not(.rtl) .elementor-102 .elementor-element.elementor-element-30d4da07 {
  left: 0px;
}
body.rtl .elementor-102 .elementor-element.elementor-element-30d4da07 {
  right: 0px;
}
.elementor-102
  .elementor-element.elementor-element-39ce6057
  .elementskit-section-title-wraper
  .elementskit-section-title {
  color: #101010;
  margin: 0px 0px 10px 0px;
  font-family: "Jost", Sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1px;
}
/* .elementor-102
  .elementor-element.elementor-element-39ce6057
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #fac602;
} */
.elementor-102
  .elementor-element.elementor-element-39ce6057
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-39ce6057
  .elementskit-section-title-wraper
  .elementskit-section-title
  span:last-child,
.elementor-102
  .elementor-element.elementor-element-39ce6057
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  font-family: "BioRhyme Expanded", Sans-serif;
  font-size: 65px;
  font-weight: 900;
}
.elementor-102
  .elementor-element.elementor-element-39ce6057
  > .elementor-widget-container {
  margin: 65px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-15623fb2
  .elementskit-section-title-wraper
  .elementskit-section-title
  > span {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-15623fb2
  .elementskit-section-title-wraper
  .elementskit-section-title:hover
  > span {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-15623fb2
  .elementskit-section-title-wraper
  p {
  color: #424242;
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.elementor-102
  .elementor-element.elementor-element-15623fb2
  > .elementor-widget-container {
  padding: 5px 0px 20px 0px;
}
.elementor-102 .elementor-element.elementor-element-b54c801 {
  --divider-border-style: solid;
  --divider-color: #ffd4d4;
  --divider-border-width: 3px;
}
.elementor-102
  .elementor-element.elementor-element-b54c801
  .elementor-divider-separator {
  width: 10%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-102 .elementor-element.elementor-element-b54c801 .elementor-divider {
  text-align: center;
  padding-block-start: 0px;
  padding-block-end: 0px;
}
.elementor-102
  .elementor-element.elementor-element-b54c801
  > .elementor-widget-container {
  margin: -20px 0px 30px 0px;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body {
  height: 90px;
  margin-top: -40px;
  width: 90%;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > i {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style:hover
  .elementskit-box-body {
  height: 211px;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style:hover
  .elementskit-box-body
  .elementskit-info-box-title
  > i {
  color: #2575fc;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style:hover
  .elementskit-box-body
  .elementskit-info-box-title
  > svg
  path {
  stroke: #2575fc;
  fill: #2575fc;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > i {
  font-size: 26px;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > svg {
  max-width: 26px;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body,
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body::before,
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.floating-style
  .elementskit-box-body::after {
  background-color: #ffffff;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-box-header
  img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.elementskit-thumb-card
  > img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box:hover
  .elementskit-box-header
  img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box.elementskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-box-body {
  background-color: #ffffff;
  padding: 30px 35px 30px 35px;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-info-box-title {
  margin: 0px 0px 20px 0px;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-box-content
  :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
  font-family: "Jost", Sans-serif;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-info-box-title
  a {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-info-box-title
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box:hover
  .elementskit-info-box-title {
  color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  a {
  color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  svg
  path {
  stroke: #fac602;
  fill: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-48b4669d
  .elementskit-info-image-box
  .elementskit-box-style-content {
  margin: 0px 0px 14px 0px;
  font-family: "Jost", Sans-serif;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body {
  height: 90px;
  margin-top: -40px;
  width: 90%;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > i {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style:hover
  .elementskit-box-body {
  height: 211px;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style:hover
  .elementskit-box-body
  .elementskit-info-box-title
  > i {
  color: #2575fc;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style:hover
  .elementskit-box-body
  .elementskit-info-box-title
  > svg
  path {
  stroke: #2575fc;
  fill: #2575fc;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > i {
  font-size: 26px;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body
  .elementskit-info-box-title
  > svg {
  max-width: 26px;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body,
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body::before,
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.floating-style
  .elementskit-box-body::after {
  background-color: #ffffff;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-box-header
  img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.elementskit-thumb-card
  > img {
  opacity: 1;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box:hover
  .elementskit-box-header
  img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box.elementskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1.01);
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-box-body {
  background-color: #ffffff;
  padding: 30px 35px 30px 35px;
  box-shadow: -1.21px 6.894px 15px 0px rgba(0, 0, 0, 0.07);
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-info-box-title {
  margin: 0px 0px 20px 0px;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-box-content
  :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
  font-family: "Jost", Sans-serif;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-info-box-title {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-info-box-title
  a {
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-info-box-title
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box:hover
  .elementskit-info-box-title {
  color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  a {
  color: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box:hover
  .elementskit-info-box-title
  svg
  path {
  stroke: #fac602;
  fill: #fac602;
}
.elementor-102
  .elementor-element.elementor-element-5479a2f7
  .elementskit-info-image-box
  .elementskit-box-style-content {
  margin: 0px 0px 14px 0px;
  font-family: "Jost", Sans-serif;
}
.elementor-102
  .elementor-element.elementor-element-2a5d5f1
  > .elementor-container {
  min-height: 350px;
}
.elementor-102
  .elementor-element.elementor-element-2a5d5f1
  > .elementor-background-overlay {
  background-image: url("https://product-110924.s3.ap-southeast-1.amazonaws.com/images/pyrotechnics-002.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
@media (max-width: 1024px) {
  .elementor-102
    .elementor-element.elementor-element-2c32f40
    > .elementor-background-overlay {
    background-position: 0px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-2c32f40 {
    padding: 170px 20px 100px 20px;
  }
  .elementor-102
    .elementor-element.elementor-element-293ccf59
    > .elementor-widget-container {
    margin: -50px 0px -10px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-566a1298
    > .elementor-widget-container {
    margin: 0px 0px -5px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-12fb2465
    .elementor-button {
    padding: 12px 20px 12px 20px;
  }
  .elementor-102
    .elementor-element.elementor-element-6cb22a3
    > .elementor-element-populated {
    padding: 0px 0px 0px 7px;
  }
  .elementor-102
    .elementor-element.elementor-element-2e0b7a7c
    .elementskit-info-image-box
    .elementskit-box-body {
    padding: 10px 10px 10px 10px;
  }
  .elementor-102
    .elementor-element.elementor-element-2e0b7a7c
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-8484083
    .elementskit-info-image-box
    .elementskit-box-body {
    padding: 10px 10px 10px 10px;
  }
  .elementor-102
    .elementor-element.elementor-element-8484083
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-27fc601
    .elementskit-info-image-box
    .elementskit-box-body {
    padding: 10px 10px 10px 10px;
  }
  .elementor-102
    .elementor-element.elementor-element-27fc601
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-48b4669d
    .elementskit-info-image-box.floating-style
    .elementskit-box-body {
    height: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-48b4669d
    .elementskit-info-image-box
    .elementskit-box-body {
    padding: 10px 10px 10px 10px;
  }
  .elementor-102
    .elementor-element.elementor-element-48b4669d
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-5479a2f7
    .elementskit-info-image-box.floating-style
    .elementskit-box-body {
    height: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-5479a2f7
    .elementskit-info-image-box
    .elementskit-box-body {
    padding: 10px 10px 10px 10px;
  }
  .elementor-102
    .elementor-element.elementor-element-5479a2f7
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .elementor-102
    .elementor-element.elementor-element-2c32f40
    > .elementor-container {
    min-height: 700px;
  }
  .elementor-102
    .elementor-element.elementor-element-2c32f40
    > .elementor-background-overlay {
    background-position: -230px 50px;
  }
  .elementor-102 .elementor-element.elementor-element-2c32f40 {
    padding: 0px 15px 80px 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-713fbf8f.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-102
    .elementor-element.elementor-element-713fbf8f
    > .elementor-element-populated {
    padding: 50px 0px 0px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-293ccf59 {
    text-align: left;
  }
  .elementor-102
    .elementor-element.elementor-element-293ccf59
    > .elementor-widget-container {
    margin: 50px 0px -10px 0px;
    padding: 0px 0px 15px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-566a1298 {
    text-align: left;
  }
  .elementor-102
    .elementor-element.elementor-element-566a1298
    .elementor-heading-title {
    font-size: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-566a1298
    > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-12fb2465
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-7267e3dd {
    padding: 0px 0px 0px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-175e816b {
    width: 25%;
  }
  .elementor-102
    .elementor-element.elementor-element-7b984d71
    .elementor-divider-separator {
    width: 100%;
  }
  .elementor-102
    .elementor-element.elementor-element-7b984d71
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-6cb22a3 {
    width: 66%;
  }
  .elementor-102
    .elementor-element.elementor-element-6cb22a3.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-102
    .elementor-element.elementor-element-6cb22a3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-142bd6e
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-102 .elementor-element.elementor-element-142bd6e {
    --icon-size: 22px;
  }
  .elementor-102
    .elementor-element.elementor-element-142bd6e
    > .elementor-widget-container {
    padding: 0px 0px 0px 10px;
  }
  .elementor-102
    .elementor-element.elementor-element-2fce8ec1
    > .elementor-shape-top
    svg {
    width: calc(150% + 1.3px);
    height: 250px;
  }
  .elementor-102 .elementor-element.elementor-element-2fce8ec1 {
    padding: 75px 0px 50px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-44f9c2a9 {
    width: 100%;
  }
  .elementor-102
    .elementor-element.elementor-element-44f9c2a9
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2e0b7a7c
    .elementskit-box-header
    img {
    padding: 30px 135px 50px 135px;
  }
  .elementor-102
    .elementor-element.elementor-element-2e0b7a7c
    .elementskit-info-image-box
    .elementskit-info-box-title {
    margin: -35px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2e0b7a7c
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 17px;
  }
  .elementor-102
    .elementor-element.elementor-element-62f54c7
    .elementor-counter-number-wrapper {
    font-size: 60px;
  }
  .elementor-102 .elementor-element.elementor-element-cc27c02 {
    width: 100%;
  }
  .elementor-102
    .elementor-element.elementor-element-cc27c02
    > .elementor-element-populated {
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-8484083
    .elementskit-box-header
    img {
    padding: 30px 135px 50px 135px;
  }
  .elementor-102
    .elementor-element.elementor-element-8484083
    .elementskit-info-image-box
    .elementskit-info-box-title {
    margin: -35px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-8484083
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 17px;
  }
  .elementor-102
    .elementor-element.elementor-element-e910fb4
    .elementor-counter-number-wrapper {
    font-size: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-e910fb4
    > .elementor-widget-container {
    margin: 0px 0px 25px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-af8f018
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-27fc601
    .elementskit-info-image-box
    .elementskit-box-content
    :is(.elementskit-info-box-title, .elementskit-info-box-title a) {
    font-size: 17px;
  }
  .elementor-102
    .elementor-element.elementor-element-e7703ad
    .elementor-counter-number-wrapper {
    font-size: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-1d213d1
    > .elementor-shape-bottom
    svg {
    height: 300px;
  }
  .elementor-102 .elementor-element.elementor-element-1d213d1 {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-30d4da07
    .elementor-heading-title {
    font-size: 70px;
  }
  .elementor-102
    .elementor-element.elementor-element-30d4da07
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-39ce6057
    .elementskit-section-title-wraper
    .elementskit-section-title
    span:last-child,
  .elementor-102
    .elementor-element.elementor-element-39ce6057
    .elementskit-section-title-wraper
    .elementskit-section-title
    > span {
    font-size: 35px;
  }
  .elementor-102
    .elementor-element.elementor-element-39ce6057
    > .elementor-widget-container {
    margin: 30px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-15623fb2
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-b54c801
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-48b4669d
    .elementskit-info-image-box.floating-style
    .elementskit-box-body {
    height: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-48b4669d
    .elementskit-info-image-box.floating-style:hover
    .elementskit-box-body {
    height: 150px;
  }
  .elementor-102
    .elementor-element.elementor-element-5479a2f7
    .elementskit-info-image-box.floating-style
    .elementskit-box-body {
    height: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-5479a2f7
    .elementskit-info-image-box.floating-style:hover
    .elementskit-box-body {
    height: 150px;
  }
  .elementor-102
    .elementor-element.elementor-element-2a5d5f1
    > .elementor-background-overlay {
    background-repeat: repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .elementor-102 .elementor-element.elementor-element-713fbf8f {
    width: 75%;
  }
  .elementor-102 .elementor-element.elementor-element-175e816b {
    width: 16.702%;
  }
  .elementor-102 .elementor-element.elementor-element-6cb22a3 {
    width: 102.896%;
  }
  .elementor-102 .elementor-element.elementor-element-3800c4e7 {
    width: 25%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-102 .elementor-element.elementor-element-713fbf8f {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .elementor-102
    .elementor-element.elementor-element-2c32f40
    > .elementor-background-overlay {
    background-attachment: fixed;
  }
  .elementor-102
    .elementor-element.elementor-element-2a5d5f1
    > .elementor-background-overlay {
    background-attachment: fixed;
  }
}
