<footer id="qodef-page-footer">
  <div id="qodef-content-bottom">
    <div
      class="widget widget_hendon_core_instagram_list"
      data-area="content-bottom"
    >
      <div
        class="qodef-shortcode qodef-m qodef-instagram-list qodef-instagram-columns"
      >
        <div
          id="sb_instagram"
          class="sbi sbi_mob_col_1 sbi_tab_col_3 sbi_col_6 sbi_width_resp"
          data-feedid="*2"
          data-res="auto"
          data-cols="6"
          data-colsmobile="1"
          data-colstablet="3"
          data-num="20"
          data-nummobile="20"
          data-item-padding="0"
          data-shortcode-atts='{"feed":"2"}'
          data-postid="395"
          data-locatornonce="b914ff63dd"
          data-sbi-flags="favorLocal"
        >
          <div id="sbi_images"></div>
          <div id="sbi_load"></div>
          <span
            class="sbi_resized_image_data"
            data-feed-id="*2"
            data-resized="[]"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="qodef-page-footer-top-area">
    <div id="qodef-page-footer-top-area-inner" class="qodef-content-grid">
      <div
        class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--4 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1"
      >
        <div class="qodef-grid-inner clear">
          <div class="qodef-grid-item">
            <div
              id="text-2"
              class="widget widget_text"
              data-area="footer_top_area_column_1"
            >
              <h5 class="qodef-widget-title">Contact</h5>
              <div class="textwidget">
                <p>
                  <span style="display: block; color: #fff; padding-bottom: 9px"
                    >Find out all the ways to enjoy luxury residential life
                    around the world.</span
                  >
                </p>
                <p>
                  <span style="color: #d7926b">A</span>:
                  <a
                    style="display: inline-block; padding-bottom: 10px"
                    href="https://www.google.com/maps/place/Seestrasse+21,+8002+Zürich,+Switzerland/@47.363765,8.529405,17z/data=!3m1!4b1!4m5!3m4!1s0x479009f9149bc8ab:0x80b507c3ea8d2191!8m2!3d47.363765!4d8.5315937"
                    target="_blank"
                    rel="noopener"
                    >SeeStrasse 21, Zurich, CH</a
                  ><br />
                  <span style="color: #d7926b">T</span>:
                  <a href="tel:99411787014">99 4 11 78 70 14</a>
                </p>
              </div>
            </div>
            <div
              id="hendon_core_separator-8"
              class="widget widget_hendon_core_separator"
              data-area="footer_top_area_column_1"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="width: 1px; border-bottom-width: 1px; margin-top: 10px"
                ></div>
              </div>
            </div>
          </div>
          <div class="qodef-grid-item">
            <div
              id="text-3"
              class="widget widget_text"
              data-area="footer_top_area_column_2"
            >
              <h5 class="qodef-widget-title">FAQ</h5>
              <div class="textwidget">
                <p>
                  <a href="visualize-project/index.html"
                    >How to schedule a viewing?</a
                  >
                </p>
                <p>
                  <a href="clever-remodel/index.html"
                    >Which pricing plan do I pick?</a
                  >
                </p>
                <p>
                  <a href="warm-interior/index.html"
                    >How to choose the right room?</a
                  >
                </p>
                <p>
                  <a href="homes-to-inspire/index.html"
                    >How long does the process take?</a
                  >
                </p>
              </div>
            </div>
            <div
              id="hendon_core_separator-9"
              class="widget widget_hendon_core_separator"
              data-area="footer_top_area_column_2"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="width: 1px; border-bottom-width: 1px; margin-top: 10px"
                ></div>
              </div>
            </div>
          </div>
          <div class="qodef-grid-item">
            <div
              id="text-4"
              class="widget widget_text"
              data-area="footer_top_area_column_3"
            >
              <h5 class="qodef-widget-title">Useful links</h5>
              <div class="textwidget">
                <p><a href="blog-right-sidebar/index.html">News</a></p>
                <p><a href="southwark/index.html">Projects</a></p>
                <p><a href="services/index.html">License</a></p>
                <p><a href="faq/index.html">Terms of service</a></p>
              </div>
            </div>
            <div
              id="hendon_core_separator-10"
              class="widget widget_hendon_core_separator"
              data-area="footer_top_area_column_3"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="width: 1px; border-bottom-width: 1px; margin-top: 10px"
                ></div>
              </div>
            </div>
          </div>
          <div class="qodef-grid-item">
            <div
              id="text-5"
              class="widget widget_text"
              data-area="footer_top_area_column_4"
            >
              <h5 class="qodef-widget-title">Enquire</h5>
              <div class="textwidget">
                <div
                  class="wpcf7 no-js"
                  id="wpcf7-f258-o2"
                  lang="en-US"
                  dir="ltr"
                >
                  <div class="screen-reader-response">
                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                    <ul></ul>
                  </div>
                  <form
                    action="
                      
                      
                      
                      
                      /#wpcf7-f258-o2"
                    method="post"
                    class="wpcf7-form init demo"
                    aria-label="Contact form"
                    novalidate="novalidate"
                    data-status="init"
                  >
                    <div style="display: none">
                      <input type="hidden" name="_wpcf7" value="258" />
                      <input
                        type="hidden"
                        name="_wpcf7_version"
                        value="5.9.8"
                      />
                      <input type="hidden" name="_wpcf7_locale" value="en_US" />
                      <input
                        type="hidden"
                        name="_wpcf7_unit_tag"
                        value="wpcf7-f258-o2"
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_container_post"
                        value="0"
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_posted_data_hash"
                        value
                      />
                    </div>
                    <div class="qodef-newsletter-cf7">
                      <div>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-name"
                          ><input
                            size="40"
                            maxlength="400"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Name"
                            value
                            type="text"
                            name="your-name"
                        /></span>
                      </div>
                      <div>
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="your-email"
                          ><input
                            size="40"
                            maxlength="400"
                            class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="E-mail"
                            value
                            type="email"
                            name="your-email"
                        /></span>
                      </div>
                      <div>
                        <button
                          id="submit"
                          class="wpcf7-form-control wpcf7-submit"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            x="0px"
                            y="0px"
                            width="74px"
                            height="40px"
                            viewBox="0 0 74 40"
                            enable-background="new 0 0 74 40"
                            xml:space="preserve"
                          >
                            <g>
                              <circle
                                opacity="0.5"
                                fill="none"
                                stroke="#C28562"
                                cx="71%"
                                cy="50%"
                                r="24%"
                                style
                              ></circle>
                              <circle
                                fill="none"
                                stroke="#C28562"
                                cx="71%"
                                cy="50%"
                                r="24%"
                              ></circle>
                            </g>
                            <polygon
                              fill="#C28562"
                              points="49.525,14.265 48.898,15.044 54.481,19.541 6.444,19.541 6.444,20.541 54.464,20.541 48.901,24.954 49.522,25.737 56.7,20.044 "
                            ></polygon>
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                  </form>
                </div>
              </div>
            </div>
            <div
              id="hendon_core_separator-11"
              class="widget widget_hendon_core_separator"
              data-area="footer_top_area_column_4"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="width: 1px; border-bottom-width: 1px; margin-top: 10px"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="qodef-page-footer-bottom-area">
    <div
      id="qodef-page-footer-bottom-area-inner"
      class="qodef-content-full-width"
    >
      <div
        class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1"
      >
        <div class="qodef-grid-inner clear">
          <div class="qodef-grid-item">
            <div
              id="hendon_core_social_icons_group-2"
              class="widget widget_hendon_core_social_icons_group"
              data-area="footer_bottom_area_column_1"
            >
              <div class="qodef-social-icons-group">
                <span
                  class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
                >
                  <a
                    itemprop="url"
                    href="https://www.youtube.com/QodeInteractiveVideos"
                    target="_blank"
                  >
                    <svg class="qodef-svg-circle">
                      <circle cx="50%" cy="50%" r="49%"></circle>
                    </svg>
                    <span
                      class="qodef-icon-font-awesome fab fa-youtube qodef-icon qodef-e"
                      style
                    ></span>
                  </a> </span
                ><span
                  class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
                >
                  <a
                    itemprop="url"
                    href="https://www.linkedin.com/company/qode-themes/"
                    target="_blank"
                  >
                    <svg class="qodef-svg-circle">
                      <circle cx="50%" cy="50%" r="49%"></circle>
                    </svg>
                    <span
                      class="qodef-icon-font-awesome fab fa-linkedin qodef-icon qodef-e"
                      style
                    ></span>
                  </a>
                </span>
              </div>
            </div>
            <div
              id="hendon_core_separator-2"
              class="widget widget_hendon_core_separator"
              data-area="footer_bottom_area_column_1"
            >
              <div class="qodef-shortcode qodef-m qodef-separator clear">
                <div
                  class="qodef-m-line"
                  style="
                    border-color: #363636;
                    border-style: solid;
                    width: 100%;
                    border-bottom-width: 1px;
                  "
                ></div>
              </div>
            </div>
            <div
              id="text-6"
              class="widget widget_text"
              data-area="footer_bottom_area_column_1"
            >
              <div class="textwidget">
                <h6 style="font-size: 11px; color: #6f6d6b">
                  <a
                    href="https://www.goldeneraworld.com/"
                    target="_blank"
                    rel="nofollow noopener"
                    >© Golden Era World</a
                  >. All Rights Reserved
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a id="qodef-back-to-top" href="#">
  <span class="qodef-back-to-top-icon">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="44px"
      height="44px"
      viewBox="0 0 44 44"
      enable-background="new 0 0 44 44"
      xml:space="preserve"
    >
      <rect
        x="1.484"
        y="1.531"
        fill="none"
        stroke="#5B5B5B"
        stroke-miterlimit="10"
        width="41"
        height="41"
      />
      <rect
        x="1.484"
        y="1.531"
        fill="none"
        stroke="#838383"
        stroke-miterlimit="10"
        width="41"
        height="41"
      />
      <polyline
        fill="none"
        stroke="#5B5B5B"
        stroke-miterlimit="10"
        points="16.572,25.293 21.984,18.77 27.397,25.293 "
      />
      <polyline
        fill="none"
        stroke="#838383"
        stroke-miterlimit="10"
        points="16.572,25.293 21.984,18.77 27.397,25.293 "
      />
    </svg>
  </span>
</a>
<div id="qodef-side-area">
  <a
    href="javascript:void(0)"
    id="qodef-side-area-close"
    class="qodef-opener-icon qodef-m qodef-source--svg-path"
  >
    <span class="qodef-m-icon qodef--open">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="27px"
        height="27px"
        viewBox="0 0 27 27"
        enable-background="new 0 0 27 27"
        xml:space="preserve"
      >
        <line
          fill="none"
          stroke="#000000"
          stroke-miterlimit="10"
          x1="4.719"
          y1="5.005"
          x2="22.785"
          y2="21.989"
        />
        <line
          fill="none"
          stroke="#000000"
          stroke-miterlimit="10"
          x1="4.719"
          y1="5.005"
          x2="22.785"
          y2="21.989"
        />
        <line
          fill="none"
          stroke="#000000"
          stroke-miterlimit="10"
          x1="22.785"
          y1="5.005"
          x2="4.719"
          y2="21.989"
        />
        <line
          fill="none"
          stroke="#000000"
          stroke-miterlimit="10"
          x1="22.785"
          y1="5.005"
          x2="4.719"
          y2="21.989"
        />
      </svg>
    </span>
  </a>
  <div id="qodef-side-area-inner">
    <div
      id="media_image-2"
      class="widget widget_media_image"
      data-area="side-area"
    >
      <a href="index.html"
        ><img
          loading="lazy"
          width="52"
          height="51"
          src="<%= roots %>/wp-content/uploads/2020/05/side-area-logo-100x100.png"
          class="image wp-image-1273 attachment-52x51 size-52x51"
          alt="side-logo-1"
          style="max-width: 100%; height: auto"
          decoding="async"
          srcset="
          <%= roots %>/wp-content/uploads/2020/05/side-area-logo-100x100.png 100w,
          <%= roots %>/wp-content/uploads/2020/05/side-area-logo.png         104w
          "
          sizes="(max-width: 52px) 100vw, 52px"
      /></a>
    </div>
    <div id="text-8" class="widget widget_text" data-area="side-area">
      <div class="textwidget">
        <h4 style="color: #fff">Golden Era World</h4>
        <h6 style="color: #c28562">At vero eos et accusam et iusto odio</h6>
      </div>
    </div>
    <div
      id="hendon_core_instagram_list-4"
      class="widget widget_hendon_core_instagram_list"
      data-area="side-area"
    >
      <h5 class="qodef-widget-title">Instagram</h5>
      <div
        class="qodef-shortcode qodef-m qodef-instagram-list qodef-instagram-columns"
      >
        <div
          id="sb_instagram"
          class="sbi sbi_mob_col_1 sbi_tab_col_3 sbi_col_3 sbi_width_resp"
          data-feedid="*1"
          data-res="auto"
          data-cols="3"
          data-colsmobile="1"
          data-colstablet="3"
          data-num="20"
          data-nummobile="20"
          data-item-padding="0"
          data-shortcode-atts='{"feed":"1"}'
          data-postid="395"
          data-locatornonce="49583da838"
          data-sbi-flags="favorLocal"
        >
          <div id="sbi_images"></div>
          <div id="sbi_load"></div>
          <span
            class="sbi_resized_image_data"
            data-feed-id="*1"
            data-resized="[]"
          >
          </span>
        </div>
      </div>
    </div>
    <div id="text-9" class="widget widget_text" data-area="side-area">
      <div class="textwidget">
        <p style="color: #b2b2b2; margin-top: -18px">
          At vero eos et accusamus et iusto odio digniss iducimus blan ditiis
        </p>
      </div>
    </div>
    <div
      id="hendon_core_social_icons_group-4"
      class="widget widget_hendon_core_social_icons_group"
      data-area="side-area"
    >
      <div class="qodef-social-icons-group">
        <span
          class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
        >
          <a
            itemprop="url"
            href="https://www.youtube.com/QodeInteractiveVideos"
            target="_blank"
          >
            <svg class="qodef-svg-circle">
              <circle cx="50%" cy="50%" r="49%"></circle>
            </svg>
            <span
              class="qodef-icon-font-awesome fab fa-youtube qodef-icon qodef-e"
              style
            ></span>
          </a> </span
        ><span
          class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
        >
          <a
            itemprop="url"
            href="https://www.linkedin.com/company/qode-themes/"
            target="_blank"
          >
            <svg class="qodef-svg-circle">
              <circle cx="50%" cy="50%" r="49%"></circle>
            </svg>
            <span
              class="qodef-icon-font-awesome fab fa-linkedin qodef-icon qodef-e"
              style
            ></span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
