<header id="qodef-page-header">
  <div id="qodef-page-header-inner">
    <div class="qodef-divided-header-left-wrapper">
      <div class="qodef-widget-holder">
        <div
          id="custom_html-2"
          class="widget_text widget widget_custom_html qodef-header-widget-area-two"
          data-area="header-widget-two"
        >
          <div class="textwidget custom-html-widget">
            <a
              class="qodef-shortcode qodef-m qodef-button qodef-layout--outlined qodef-size--small qodef-html--link"
              href="contact-us.html"
              target="_self"
              rel="noopener"
            >
              <span class="qodef-m-text">request a viewing</span>
            </a>
          </div>
        </div>
      </div>
      <nav
        class="qodef-header-navigation"
        role="navigation"
        aria-label="Divided Left Menu"
      >
        <ul id="menu-divided-menu-left" class="menu">
          <li
            id="menu-item-25"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25 qodef-menu-item--narrow"
          >
            <a href="<%= roots %>"
              ><span class="qodef-menu-item-text">Home</span
              ><span class="qodef-menu-arrow">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="10px"
                  height="10px"
                  viewBox="0 0 10 10"
                  enable-background="new 0 0 10 10"
                  xml:space="preserve"
                >
                  <g>
                    <polygon
                      points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                    />
                  </g>
                </svg> </span
            ></a>
          </li>
          <li
            id="menu-item-26"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-26 qodef-menu-item--narrow"
          >
            <a href="#"
              ><span class="qodef-menu-item-text">Pages</span
              ><span class="qodef-menu-arrow">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="10px"
                  height="10px"
                  viewBox="0 0 10 10"
                  enable-background="new 0 0 10 10"
                  xml:space="preserve"
                >
                  <g>
                    <polygon
                      points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                    />
                  </g>
                </svg> </span
            ></a>
            <div class="qodef-drop-down-second">
              <div class="qodef-drop-down-second-inner">
                <ul class="sub-menu">
                  <li
                    id="menu-item-1264"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1264"
                  >
                    <a href="about-us.html"
                      ><span class="qodef-menu-item-text">About Us</span></a
                    >
                  </li>
                  <li
                    id="menu-item-1364"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1364"
                  >
                    <a href="services.html"
                      ><span class="qodef-menu-item-text">Services</span></a
                    >
                  </li>
                  <li
                    id="menu-item-1366"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1366"
                  >
                    <a href="get-in-touch.html"
                      ><span class="qodef-menu-item-text">Get In Touch</span></a
                    >
                  </li>
                  <li
                    id="menu-item-1262"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1262"
                  >
                    <a href="contact-us.html"
                      ><span class="qodef-menu-item-text">Contact Us</span></a
                    >
                  </li>
                  <li
                    id="menu-item-1365"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1365"
                  >
                    <a href="faq.html"
                      ><span class="qodef-menu-item-text">FAQ</span></a
                    >
                  </li>
                  <li
                    id="menu-item-1263"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1263"
                  >
                    <a href="coming-soon.html"
                      ><span class="qodef-menu-item-text">Coming Soon</span></a
                    >
                  </li>
                  <li
                    id="menu-item-1265"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1265"
                  >
                    <a href="404.html"
                      ><span class="qodef-menu-item-text"
                        >404 Error Page</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li
            id="menu-item-1989"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989 qodef-menu-item--narrow"
          >
            <a href="#"
              ><span class="qodef-menu-item-text">Property</span
              ><span class="qodef-menu-arrow">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="10px"
                  height="10px"
                  viewBox="0 0 10 10"
                  enable-background="new 0 0 10 10"
                  xml:space="preserve"
                >
                  <g>
                    <polygon
                      points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                    />
                  </g>
                </svg> </span
            ></a>
            <div class="qodef-drop-down-second">
              <div class="qodef-drop-down-second-inner">
                <ul class="sub-menu">
                  <li
                    id="menu-item-2108"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2108"
                  >
                    <a href="info-adjacent.html"
                      ><span class="qodef-menu-item-text"
                        >Property List</span
                      ></a
                    >
                  </li>
                  <li
                    id="menu-item-2132"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"
                  >
                    <a href="property-slider.html"
                      ><span class="qodef-menu-item-text"
                        >Property Slider</span
                      ></a
                    >
                  </li>
                  <li
                    id="menu-item-1990"
                    class="menu-item menu-item-type-post_type menu-item-object-property-item menu-item-1990"
                  >
                    <a href="project-complex.html"
                      ><span class="qodef-menu-item-text"
                        >Property Single</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <a
      itemprop="url"
      class="qodef-header-logo-link qodef-height--set"
      href="<%= roots %>"
      style="height: 68px"
      rel="home"
    >
      <img
        loading="lazy"
        width="140"
        height="137"
        src="https://hendon.qodeinteractive.com/wp-content/uploads/2020/04/logo-regular.png"
        class="qodef-header-logo-image qodef--main"
        alt="logo main"
        itemprop="image" />
      <img
        loading="lazy"
        width="140"
        height="136"
        src="https://hendon.qodeinteractive.com/wp-content/uploads/2020/04/logo-dark.png"
        class="qodef-header-logo-image qodef--dark"
        alt="logo dark"
        itemprop="image" />
      <img
        loading="lazy"
        width="210"
        height="204"
        src="https://hendon.qodeinteractive.com/wp-content/uploads/2020/06/logo-light.png"
        class="qodef-header-logo-image qodef--light"
        alt="logo light"
        itemprop="image"
    /></a>
    <div class="qodef-divided-header-right-wrapper">
      <nav
        class="qodef-header-navigation"
        role="navigation"
        aria-label="Divided Right Menu"
      >
        <ul id="menu-divided-menu-right" class="menu">
          <li
            id="menu-item-29"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29 qodef-menu-item--narrow"
          >
            <a href="#"
              ><span class="qodef-menu-item-text">Apartment</span
              ><span class="qodef-menu-arrow">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="10px"
                  height="10px"
                  viewBox="0 0 10 10"
                  enable-background="new 0 0 10 10"
                  xml:space="preserve"
                >
                  <g>
                    <polygon
                      points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                    />
                  </g>
                </svg> </span
            ></a>
            <div class="qodef-drop-down-second">
              <div class="qodef-drop-down-second-inner">
                <ul class="sub-menu">
                  <li
                    id="menu-item-2143"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2143"
                  >
                    <a href="info-bellow.html"
                      ><span class="qodef-menu-item-text"
                        >Info Bellow List</span
                      ></a
                    >
                  </li>
                  <li
                    id="menu-item-2123"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2123"
                  >
                    <a href="feature-bellow.html"
                      ><span class="qodef-menu-item-text"
                        >Feature Bellow List</span
                      ></a
                    >
                  </li>
                  <li
                    id="menu-item-282"
                    class="menu-item menu-item-type-post_type menu-item-object-apartment-item menu-item-282"
                  >
                    <a href="apartment-single.html"
                      ><span class="qodef-menu-item-text"
                        >Apartment Single</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li
            id="menu-item-1570"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1570"
          >
            <a href="landing.html"
              ><span class="qodef-menu-item-text">Landing</span></a
            >
          </li>
        </ul>
      </nav>
      <div class="qodef-widget-holder">
        <div
          id="hendon_core_side_area_opener-3"
          class="widget widget_hendon_core_side_area_opener qodef-header-widget-area-one"
          data-area="header-widget-one"
        >
          <a
            href="javascript:void(0)"
            class="qodef-opener-icon qodef-m qodef-source--svg-path qodef-side-area-opener"
            style="margin: 0 0 0 10px"
          >
            <span class="qodef-m-icon qodef--open">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="64.584px"
                height="21.75px"
                viewBox="0 0 64.584 21.75"
                enable-background="new 0 0 64.584 21.75"
                xml:space="preserve"
              >
                <rect
                  x="7.292"
                  y="6.875"
                  fill="#FFFFFF"
                  width="50"
                  height="1"
                />
                <rect
                  x="7.292"
                  y="13.875"
                  fill="#FFFFFF"
                  width="50"
                  height="1"
                />
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<header id="qodef-page-mobile-header">
  <div id="qodef-page-mobile-header-inner">
    <a
      itemprop="url"
      class="qodef-mobile-header-logo-link"
      href="<%= roots %>"
      style="height: 55px"
      rel="home"
    >
      <img
        loading="lazy"
        width="140"
        height="136"
        src="https://hendon.qodeinteractive.com/wp-content/uploads/2020/04/logo-dark.png"
        class="qodef-header-logo-image qodef--main"
        alt="logo main"
        itemprop="image" />
      <img
        loading="lazy"
        width="210"
        height="204"
        src="https://hendon.qodeinteractive.com/wp-content/uploads/2020/06/logo-light.png"
        class="qodef-header-logo-image qodef--dark"
        alt="logo dark"
        itemprop="image" /><img
        loading="lazy"
        width="210"
        height="204"
        src="https://hendon.qodeinteractive.com/wp-content/uploads/2020/06/logo-light.png"
        class="qodef-header-logo-image qodef--light"
        alt="logo light"
        itemprop="image" /></a
    ><a class="qodef-mobile-header-opener" href="#">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="64.584px"
        height="21.75px"
        viewBox="0 0 64.584 21.75"
        enable-background="new 0 0 64.584 21.75"
        xml:space="preserve"
      >
        <rect x="7.292" y="6.875" fill="#000" width="50" height="1" />
        <rect x="7.292" y="13.875" fill="#000" width="50" height="1" />
      </svg>
    </a>
    <nav
      class="qodef-mobile-header-navigation"
      role="navigation"
      aria-label="Mobile Menu"
    >
      <ul id="menu-main-menu-2" class="qodef-content-grid">
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-725 qodef-menu-item--narrow"
        >
          <a href="<%= roots %>"
            ><span class="qodef-menu-item-text">Home</span></a
          >
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-726 qodef-menu-item--narrow"
        >
          <a href="#"
            ><span class="qodef-menu-item-text">Pages</span
            ><span class="qodef-menu-arrow">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="10px"
                height="10px"
                viewBox="0 0 10 10"
                enable-background="new 0 0 10 10"
                xml:space="preserve"
              >
                <g>
                  <polygon
                    points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                  />
                </g>
              </svg> </span
          ></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1260"
                >
                  <a href="about-us.html"
                    ><span class="qodef-menu-item-text">About Us</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1367"
                >
                  <a href="services.html"
                    ><span class="qodef-menu-item-text">Services</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1369"
                >
                  <a href="get-in-touch.html"
                    ><span class="qodef-menu-item-text">Get In Touch</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1258"
                >
                  <a href="contact-us.html"
                    ><span class="qodef-menu-item-text">Contact Us</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1368"
                >
                  <a href="faq.html"
                    ><span class="qodef-menu-item-text">FAQ</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1259"
                >
                  <a href="coming-soon.html"
                    ><span class="qodef-menu-item-text">Coming Soon</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1261"
                >
                  <a href="404.html"
                    ><span class="qodef-menu-item-text">404 Error Page</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-728 qodef-menu-item--narrow"
        >
          <a href="#"
            ><span class="qodef-menu-item-text">Property</span
            ><span class="qodef-menu-arrow">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="10px"
                height="10px"
                viewBox="0 0 10 10"
                enable-background="new 0 0 10 10"
                xml:space="preserve"
              >
                <g>
                  <polygon
                    points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                  />
                </g>
              </svg> </span
          ></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2095"
                >
                  <a href="info-adjacent.html"
                    ><span class="qodef-menu-item-text">Property List</span></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2191"
                >
                  <a href="property-slider.html"
                    ><span class="qodef-menu-item-text"
                      >Property Slider</span
                    ></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-property-item menu-item-1198"
                >
                  <a href="project-complex.html"
                    ><span class="qodef-menu-item-text"
                      >Property Single</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-729 qodef-menu-item--narrow"
        >
          <a href="#"
            ><span class="qodef-menu-item-text">Apartment</span
            ><span class="qodef-menu-arrow">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="10px"
                height="10px"
                viewBox="0 0 10 10"
                enable-background="new 0 0 10 10"
                xml:space="preserve"
              >
                <g>
                  <polygon
                    points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                  />
                </g>
              </svg> </span
          ></a>
          <div class="qodef-drop-down-second">
            <div class="qodef-drop-down-second-inner">
              <ul class="sub-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2193"
                >
                  <a href="info-bellow.html"
                    ><span class="qodef-menu-item-text"
                      >Info Bellow List</span
                    ></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2194"
                >
                  <a href="feature-bellow.html"
                    ><span class="qodef-menu-item-text"
                      >Feature Bellow List</span
                    ></a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-apartment-item menu-item-1197"
                >
                  <a href="apartment-single.html"
                    ><span class="qodef-menu-item-text"
                      >Apartment Single</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
